# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz
.yarn/cache
.npm
.cache

# Testing
coverage
__tests__/
test/
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# Next.js
.next/
out/

# Production build
build

# Misc system files
.DS_Store
Thumbs.db
ehthumbs.db
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (all excluded for safety)
# .env*
# !.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE-specific files
.idea/
.vscode/

# Dev tools and GitHub
.git
.github
.editorconfig
.gitattributes
.node-version

# Docker files
.dockerignore*
Dockerfile*
docker-compose*.yml

# Docs
README.md

# Nginx config
nginx

# Certificates
certs

# Next.js runtime logs
serverlogs.txt
deploy-*.log

# Don’t send local DBs into build context
data/
*.db

src/lib/prisma/shop/merchize/generated/