services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: codex-con-app-start
    env_file:
      - .env.production
    command:
      [
        'sh',
        '-c',
        'yarn prisma migrate deploy --schema prisma/shop/merchize/priceCatalog.prisma && yarn start',
      ]
    ports:
      - '3000:3000'
    restart: always
    networks:
      - webserver-network
    volumes:
      - merchize_price_catalog_data:/app/data

volumes:
  merchize_price_catalog_data: {}

networks:
  webserver-network:
    external: true
    name: webserver-network
